@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* / define a css color variable / */
:root {
    --my-brand-color-dark: #FF9933;
    --my-brand-color-light: #FF9933;
    --my-grey: #D9D9D9;
    --my-dark-grey: #B3B3B3;
    --my-font-primary-color: #1A1A1A;
    --my-font-secondary-color: #5A5A5A;
    --my-white: #FFFFFF;
    --my-border-color: #D9D9D9;
    --my-disabled-step-color: #B3B3B3;
    --my-error-color: #d32f2f;
    --my-title-color : #4D5E80;
    --my-link-color : #7D8FB3;
    --my-icon-color : #d3d3d4;
    --my-body-color : #F5F5F5; 
    --my-box-color : #FFFFFF;
    --my-button-color : #FF9933;
    --my-text-color : #40474A;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    background-color: var(--my-body-color);
}

.inputField {
    border-radius: 20px;
}